body {
	margin: 0px;
	padding: 0px;
	height: 100vh;
	text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}

.jumbotron-slider {
	margin-top: 5%;
	/* background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url('/ShopMe/images/animations/ea41f6fa6d717bbb4cb360fa0a2259be.mp4');
	position: relative;
	background-size: cover;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	height: 100vh !important; */
	z-index: -1;
}

.jumbotron-slider video{
	width: 100%;
	height: auto;
	object-fit: cover;
}

.cover-container{
	background: rgba(0, 0, 0, 0.897);
	position: absolute;
	height: 100% !important;
}

#nav-parent {
	background: transparent;
}

#sub-nav {
	/* box-shadow: 0px 1px 2px 0px rgba(219, 219, 221, 0.397); */
	padding: 1%;
	margin-top: 0.5%;
}

.nav-item a {
	color: rgb(189, 181, 181);
}

/* this is the logo section */
.logo {
	/* margin-top: -5px; */
	display: flex;
	gap: 2px;
	align-items: center;
	line-height: normal;
	padding: 20px;
	height: 39px;
	box-shadow: 0px 1px 2px 0px rgba(219, 219, 221, 0.397);
	border-radius: 10px;
}

.logo img {
	width: 30px;
	height: auto;
	object-fit: cover;
}

.logo a {
	margin-top: 10px;
	display: flex;
	text-decoration: none;
	text-transform: capitalize;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	opacity: 0.8222;
}

#navbar-btn {
	display: none;
}

.dropdownMenu {
	display: none;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

#drop-cont {
	display: none;
}

.status {
	display: flex;
	align-items: center;
	/* background-color: grey;  */
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 1px 2px 0px rgba(219, 219, 221, 0.397);
}

.status .notify {
	display: block;
	position: relative;
}

.status .notify i {
	padding-left: 5px;
	display: flex;
	align-items: center;
	position: relative;
	font-size: 20px;
	color: rgb(189, 181, 181);
}

.contact-bar {
	margin-right: 5px;
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 20px;
	color: rgb(189, 181, 181);
}

.status .notify span {
	position: absolute;
	top: -10%;
	right: -10%;
	z-index: 1;
	color: rgb(189, 181, 181);
	background-color: red;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
}

.status .notify span p {
	margin: 0;
	font-weight: bold;
}

.status-profile img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: fill;
	box-shadow: 0px 0px 1px 1px goldenrod;
}

.search-bar-form {
	background-color: rgb(189, 181, 181);
	padding: 1px;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 2px 0px #9e9d9d;
}

.search-bar-form input {
	width: 100%;
	padding: 5px;
	background: transparent;
	outline: none;
	box-shadow: none;
}

.search-bar-form i {
	padding: 4px;
	color: #928e8e;
}

/* this is the section for screen orientation designing code */

@media screen and (min-width: 992px) {
	#navbar-btn {
		display: none;
	}

	#navbar-content {
		display: flex;
		border-radius: 10px !important;
		box-shadow: 0px 1px 2px 0px rgba(219, 219, 221, 0.397);
	}
}
@media screen and (max-width: 991px) {
	#navbar-btn {
		display: block;
	}

	#navbar-content {
		display: none;
		box-shadow: 0px 1px 2px 0px rgba(219, 219, 221, 0.397);
	}
}
