body {
	margin: 0px;
	padding: 0px;
  height: 100%;
	box-sizing: border-box;
}

#nav-parent{
  height: 9%;
}

/* this is the logo section */
.logo{
display: flex;
justify-content: space-between;
align-items: center;
}

.logo img{
  width: 30px;
  height: auto;
  object-fit: cover;
}

.logo p{
  margin-top: 15px;
  font-size: 30px;
  font-weight: bold;
}


#navbar-btn{
		display: none;
	}

  .dropdownMenu{
    display: none;
  }


.visible {
	display: block;
}

.hidden {
	display: none;
}


#drop-cont{
  display: none;
}

.status{
  display: flex;
  align-items: center;
  /* background-color: grey;  */
}

.status .notify {
  display: block;
  position: relative;
}

.status .notify i {
  position: relative;
  font-size: 20px;
  color: black; /* Added for better visibility */
}

.status .notify span {
  position: absolute;
  top: -10%;
  right: -10%;
  z-index: 1;
  color: white;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.status .notify span p {
  margin: 0;
  font-weight: bold;
}


.status-profile img{
  width: 30px;
  height: 30px;
   border-radius: 50%;
  object-fit: fill;
  box-shadow: 0px 0px 1px 1px rgb(0, 0, 0);
}

.search-bar-form{
  background-color: white;
  padding: 1px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px #9e9d9d;
  
}

.search-bar-form input{
  width: 100%;
  padding: 5px;
  background: transparent;
  outline: none;
  box-shadow: none;
}

.search-bar-form i{
  padding: 4px;
  color: #928e8e;
}


/* this is the section for screen orientation designing code */

@media screen and (min-width: 992px) {
	 #navbar-btn{
		display: none;
	}

  #navbar-content{
    display: flex;
  }


}
@media screen and (max-width: 991px) {
	 #navbar-btn{
		display: block;
	}

  #navbar-content{
    display: none;
  }
}

